/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/dist
/public/build
/public/mix-manifest.json

/.idea
/_ide_helper.php
/.phpstorm.meta.php
/_ide_helper_models.php
/_macro_ide_helper.php
/.webpack.config.js
